---
import Layout from "../layouts/Layout.astro";
import "halfmoon/css/halfmoon.min.css";
const FAQuestions = '../assets/Accordion.json';
import { Sections } from '../assets/Accordion.json';
import "../styles/global.css";
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div class="Accordion-Section">
    {Sections.map((section) => (

            <div class="Accordion-Header">
                <h3>{section.Header}</h3>
            </div>

            <div class=" Accordion-List-Questions">
                {section.questions.map((questionData) => (
                    
                    <div class="Accordion-Item shadow">
                    <input type="checkbox" id={`${section.Header}-${questionData.id}`}>
                    <label for={`${section.Header}-${questionData.id}`} class="Accordion-Question">
                    <span>{questionData.title}</span>
                    <span class="arrow"><i class="fa-solid fa-caret-right"></i></span>
                    </label>
                    <div class="Accordion-Answer">
                    <hr>
                    <p>{questionData.body}</p>
                    </div>
                    </div>
                    
                ))}
            </div>
    ))}
</div>

<style>

    .VStack 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .Accordion-Section   
    {
        padding: 0;
        margin 0;
        box-sizing: border-box;
    }


/* Accordion Styles */


input[type="checkbox"] 
{
    display: none;
    appearance: none;
}


.Accordion-Header
{
    color: var(--accent);
    font-size: 24px;
    font-weight: bolder;
    display: block;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Accordion Item Styles */
.Accordion-Item 
{
    padding: 1em;
    font-size: 17.6px;
    color: var(--text);
    background-color: #fff;
    border-radius: 0.5em;
    white-space: pre-line;

}

.Accordion-Item:not(:last-child)
{
    margin-bottom: 1em;
    
}

.Accordion-Answer 
{
    font-weight: 500;
    line-height: 1.8em;  
}

label
{
    
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 700;
    padding: 1em 0;
}

input[type="checkbox"] ~ label .arrow 
{
    display: inline-block;
    transition: .25s;
}

input[type="checkbox"]:checked ~ label .arrow 
{
    transform: rotate(90deg);
}

input[type="checkbox"]:checked ~ label
{
    /*color: #fff;*/
    /*background-color: var(--accent-color);*/
}


input[type="checkbox"] ~ .Accordion-Answer 
{
    max-height: 0;
    overflow: hidden;
    transition: .125s;
}

input[type="checkbox"]:checked ~ .Accordion-Answer 
{
    max-height: 100vh; 
}

hr
{
    border: 1px solid var(--secondary);
}




</style>

